# Node modules
node_modules/

# Environment variables
.env

# Database files
*.sqlite
*.sqlite3

# Log files
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
